<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .overlaybox {
        width: 200px;
        padding: 10px;
        background-color: grey;
        border-radius: 10%;
      }
      .overlaybox img {
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script src="./js/utils.js"></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=979ea388136df5816059da9117c97702"
    ></script>
  </head>
  <body>
    <div id="map" style="width:1000px;height:700px;"></div>
    <script>
        const imgList = [<% file_list.forEach(function (file) {%>
      "<%= file %>",
        <% })%>]
    </script>
    <script src="./js/init.js"></script>
  </body>
</html>
